<form id="form" data-parsley-validate class="form-horizontal form-label-left" #form="ngForm">


    <div class="item form-group">
      <label class="col-form-label col-md-3 col-sm-3 label-align" for="Name">Name <span class="required">*</span></label>
      <div class="col-md-6 col-sm-6">
        <input type="text" [(ngModel)]="author.name" id="Name" name="name" #name="ngModel" required minlength="5" class="form-control"
        (blur)="name.control.markAsTouched()">
        <div *ngIf="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="name.errors?.['required']" class="error-message">name cannot be empty.</div>
          <div *ngIf="name.errors?.['minlength']" class="error-message">name be at least 5 characters long.</div>
        </div>
      </div>
    </div>

    <div class="item form-group">
        <label class="col-form-label col-md-3 col-sm-3 label-align" for="biography">Biography <span class="required">*</span></label>
        <div class="col-md-6 col-sm-6">
          <textarea [(ngModel)]="author.biography" id="biography" name="biography" #biography="ngModel" required minlength="10" class="form-control" (blur)="biography.control.markAsTouched()" rows="4"></textarea>
          <div *ngIf="biography.invalid && (biography.dirty || biography.touched)">
            <div *ngIf="biography.errors?.['required']" class="error-message">Biography cannot be empty.</div>
            <div *ngIf="biography.errors?.['minlength']" class="error-message">Author biography must be at least 10 characters long.</div>
          </div>
        </div>
      </div>



    

   
    <div class="ln_solid"></div>
  
    <div class="item form-group">
      <div class="col-md-6 col-sm-6 offset-md-3">
        <button class="btn btn-primary" type="reset">Reset</button>
        <button type="submit" (click)="CreateAuthor()" class="btn btn-success" [disabled]="!form?.valid || !form?.dirty">
          Create</button>
      </div>
    </div>
    
    <div class="alert alert-success d-flex align-items-center" *ngIf="successAlertVisible" role="alert">
      author created successfully!
      <button type="button" class="close align-self-start ml-auto" (click)="closeSuccessAlert()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="alert alert-danger d-flex align-items-center" *ngIf="errorAlertVisible" role="alert">
      An error occurred while creating this author!
      <button type="button" class="close align-self-start ml-auto" (click)="closeErrorAlert()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
  </form>
  