
<body class="login">

  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content" >
        <app-alert *ngIf="showAlert" [color]="alertColor">{{alertMsg}}</app-alert>
        <div clas="alert alert-danger" color="red" > {{err}} </div>
        <form action="login" method="post">
          <h1>Login</h1>
          <div>
            <input type="text" class="form-control" [(ngModel)]="login.username" placeholder="Username" name="Username"/>
          </div>
          <div  style=" position: relative;
          width: 100%;">
            <input [type]="changetype?'password':'text'" class="form-control" [(ngModel)]="login.password" placeholder="Password" name="Password" />
            <span style=" position: absolute;
            right: 9px;
            top: 10px;
            cursor: pointer;" (click)="viewpass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span>

          </div>
          <div>
            <button class="btn" (click)="submit()" class="btn">
              <span>login</span>
          </button>
   
            <a class="reset_pass" routerLink='/forgetpassword'>Lost your password?</a>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            

            <div class="clearfix"></div>
            <br />

            <div>
              <img style="height: 150px; width: 200px; margin-bottom: 10px;" src="assets/images/booksage_logo.png"
              alt="BookSage logo" class="custom-icon">
              <p>©2023 All Rights Reserved. SlowPokes! . Privacy and Terms</p>
            </div>
          </div>
        </form>
      </section>
    </div>

  </div>



</body>

