<!-- page content -->
<div class="right_col" role="main">
    <div class="">
  
  
  
      <div class="row">
        <div class="col-md-12 col-sm-12 ">
          <div class="x_panel">
            <div class="x_title">
              <h2> Profile </h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
            
              <div class="col-md-9 col-sm-9 ">
                <div class="col-md-12 col-sm-12 ">
                  <div class="x_panel">
                   
                    <div class="x_content">
                      <br />
                      <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
  
                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name"> Username  : <span
                              class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 ">
                            <input type="text" id="first-name" required="required" class="form-control " disabled
                              value="{{user.username}}">
                          </div>
                        </div>
  
  
                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name"> FirstName  : <span
                              class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 ">
                            <input type="text" id="first-name" required="required" class="form-control" name="firstName" [(ngModel)]="user.firstName">
  
                          </div>
                        </div>
                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name"> LastName  : <span
                              class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 ">
                            <input type="text" id="last-name" name="last-name" required="required" class="form-control" name="email" [(ngModel)]="user.lastName">
  
                          </div>
                        </div>
                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name"> Email: <span
                              class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 ">
                            <input type="text" id="last-name" name="last-name" required="required" class="form-control" [(ngModel)]="user.email" 
                              >
                          </div>
                        </div>


                        <div class="item form-group">
                          <label for="selectAvaibility" class="col-form-label col-md-3 col-sm-3 label-align">Activity<span class="required">*</span></label>
                          <div class="col-md-6 col-sm-6">
                            <select [(ngModel)]="user.active" name="selectAvaibility" id="selectAvaibility" class="form-control" required>
                              <option value="" disabled selected>{{ 'Select an option' }}</option>
                              <option [value]="true">Enable</option>
                              <option [value]="false">Disable</option>
                            </select>
                          </div>
                        </div>
                       
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                          <div class="col-md-6 col-sm-6 offset-md-3">
  
                            <button type="submit" class="btn btn-success" (click)="UpdateUserData()"> Edit Profil </button>
                          </div>
                        </div>
  

                        <div class="alert alert-success d-flex align-items-center" *ngIf="successAlertVisible" role="alert">
                            User updated successfully !
                            <button type="button" class="close align-self-start ml-auto" (click)="closeSuccessAlert()" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          
                          <div class="alert alert-danger d-flex align-items-center" *ngIf="errorAlertVisible" role="alert">
                           Erreur cound not update this user!
                            <button type="button" class="close align-self-start ml-auto" (click)="closeErrorAlert()" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                      
                          
                      </form>
                    </div>
                  </div>
                </div>
  
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /page content -->
  
  <script src="../vendors/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- FastClick -->
  <script src="../vendors/fastclick/lib/fastclick.js"></script>
  <!-- NProgress -->
  <script src="../vendors/nprogress/nprogress.js"></script>
  <!-- morris.js -->
  <script src="../vendors/raphael/raphael.min.js"></script>
  <script src="../vendors/morris.js/morris.min.js"></script>
  <!-- bootstrap-progressbar -->
  <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
  <!-- bootstrap-daterangepicker -->
  <script src="../vendors/moment/min/moment.min.js"></script>
  <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
  
  <!-- Custom Theme Scripts -->
  <script src="../build/js/custom.min.js"></script>