 <!-- menu profile quick info -->
 <div class="profile clearfix" >
    <div class="profile_pic">
      <img src="assets/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2>{{ username }}</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu"  >
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a  routerLink="/home"><i class="fa fa-home"></i> Home </a>
          
        </li>
        <li *ngIf="!role.includes('CLIENT')"><a><i class="fa fa-users"></i> Users <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
           
            <li *ngIf="role.includes('ADMIN')"><a routerLink="/users/admins">Admins</a></li>
            <li><a routerLink="/users/clients">Clients</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-bookmark"></i> Library <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a routerLink="/books">Books</a>
              <ul class="nav child_menu">
                <li><a routerLink="/books/category">Category</a></li>
                </ul>
            </li>
            
            <li><a routerLink="/loans">Lons</a></li>
            <li><a routerLink="/authors">Authers</a></li>

          </ul>
        </li>

  <li><a  routerLink="/myreviews"><i class="fa fa-comment"></i>Review</a>
        </li>
       
        
      </ul>
    </div>
   
  </div>
